<suite name="Actitime Automation Suite"
       verbose="1"
       parallel="false">

    <parameter name="browsername" value="chrome"/>


    <test name="login">
        <classes>
            <class name="com.orangeHRM.tests.LoginTest"/>      
            <class name="com.orangeHRM.tests.DashboardTest"/>            
        </classes>
    </test>

</suite>



